.row
  .span12
    %h2= "Questions fréquentes"

.row
  .span6
    %ul.nav.nav-list
      <% _.each(faqs, function(faq, index) { %>
      %li
        %a{:href => '#', :'data-index' => '<%= index %>'} <%= faq.question %>
      <% }) %>
            
  #faq-answer.span6