.input-group
  %input.form-control{placeholder: 'Saissez une question fréquente ici', type: 'text', name: 'question'}
  .span.input-group-btn
    %button.btn.btn-danger.btn-remove{type: 'button'}
      %i.glyphicon.glyphicon-remove.glyphicon-white