#title.row
  .col-md-12
    %h1 <%= title %>

#content.row

  #picture.col-md-6
    %img.img-responsive{:src => 'http://placehold.it/640x480'}

  #content.col-md-6
    #text
      <%= App.md2html(text) %>
    <% if (typeof(forms) != "undefined") { %>
    %form.form-horizontal
      %fieldsets
        %label.control-label
          <%= forms[0].label %>
        <% if (forms[0].type == "radio") { %>
        <% _.each(forms[0].choices, function(choice) { %>
        .radio
          %label
            %input{:type => 'radio', :name => '<%= forms[0].key %>', :id => '<%= choice.key %>'} <%= App.md2html(choice.text) %>
        <% }) %>
        <% } %>
    <% } %>

#prevnext.row
  .col-md-12
    .btn-toolbar
      #button-previous.btn.btn-default.btn-large.pull-left
        %i.glyphicon.glyphicon-hand-left
        = "Étape précédente"
      #button-next.btn.btn-large.btn-primary.pull-right
        %i.glyphicon.glyphicon-hand-right.glyphicon-white
        = "Étape suivante"

#faqs
