%form.form-horizontal
  #extra.row

    .span12
      .well
        %h3 Références de l'étape
        %fieldset
          .control-group
            %label.control-label{for: 'stage_key'} Identifiant
            .controls
              %input.input-large{type: 'text', id: 'stage_key', name: 'stage[key]'}
          .control-group
            %label.control-label{for: 'stage_previous'} Étape précédente :
            .controls
              %select.chzn-select{id: 'stage_previous', name: 'stage[previous]'}
          .control-group
            %label.control-label{for: 'stage_next'} Étape suivante :
            .controls
              %select.chzn-select{id: 'stage_next', name: 'stage[next]'}
                <% stageReferences.each(function(stageReference) { %>
                %option{value: '<%= stageReference.key %>'} <%= stageReference.title %>
                <% }) %>

  #title.row
    .span12
      %fieldset
        %input.input-xxlarge{type: 'text', placeholder: 'Entrez un titre ici', id: 'stage_title', name: 'stage[title]'}

  #content.row

    #picture.span6
      %img{:src => 'http://placehold.it/640x480'}

    #content.span6
      #text
        %fieldset
          %textarea{placeholder: 'Saisissez le texte de votre étape ici', name: 'text'}
      
      -#%form.form-horizontal
        %fieldsets
          .control-group
            %label.control-label
            .controls
              %label.radio
                %input{:type => 'radio', :name => 'forms', :id => 'choice'} Choice
              
  #faqs