%form.form-horizontal
  #extra.row

    .span12
      %h3 Références de l'étape
      .row
        .span6
          %fieldset
            .control-group
              %label.control-label{for: 'stage_key'} Identifiant
              .controls
                %input.input-large{type: 'text', id: 'stage_key', name: 'stage[key]'}
            .control-group
              %label.control-label{for: 'stage_previous'} Étape précédente :
              .controls
                %select{id: 'stage_previous', name: 'stage[previous]'}
            .control-group
              %label.control-label{for: 'stage_next'} Étape suivante :
              .controls
                %select{id: 'stage_next', name: 'stage[next]'}
        .span6
          %a#view-tree.btn Voir l'arbre

  #title.row
    .span12
      %fieldset
        %input.input.input-fullwidth{type: 'text', placeholder: 'Entrez un titre ici', id: 'stage_title', name: 'stage[title]'}

  #content.row

    #picture.span6
      %img{:src => 'http://placehold.it/640x480'}

    #content.span6
      #text
        %fieldset
          %textarea.input-fullwidth{placeholder: 'Saisissez le texte de votre étape ici', id: 'stage_text', name: 'stage[text]'}
      
      -#%form.form-horizontal
        %fieldsets
          .control-group
            %label.control-label
            .controls
              %label.radio
                %input{:type => 'radio', :name => 'forms', :id => 'choice'} Choice
              
  #faqs

    .row
      .span6
        %h2
          = "Questions fréquentes"
          %button#faqs-add.btn.pull-right
            Ajouter

  #modal-tree.modal.hide.fade
    .modal-header
      %button{:type => 'button', :class => 'close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} &times;
      %h3 Arbre du tutoriel
    .modal-body
      #cy
    .modal-footer
      %a.btn{:href => '#', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close
