%form.form-horizontal
  %fieldsets
    .form-group
      %label.col-sm-2.control-label{for: 'stage_form_key'} Key :
      %fieldset.col-sm-10
        %input.form-control{type: 'text', id: 'stage_form_key', name: 'key', value: '<%= key %>'}
    .form-group
      %label.col-sm-2.control-label{for: 'stage_form_label'} Label :
      %fieldset.col-sm-10
        %input.form-control{type: 'text', id: 'stage_form_label', name: 'label', value: '<%= label %>'}
    %label.col-sm-2.control-label Choices
    %fieldset
      %button#form-choice-add.btn.btn-default
        %span.glyphicon.glyphicon-plus
    #choices-collection