&nbsp;
.row
  .col-sm-offset-1.col-sm-2.form-choice-remove-zone
    %button.form-choice-remove.btn.btn-default
      %span.glyphicon.glyphicon-remove
  .col-sm-9
    .form-group
      %label.col-sm-2.control-label{for: 'stage_choice_key'} Key :
      %fieldset.col-sm-10
        %input.form-control{type: 'text', id: 'stage_choice_key', name: 'choice_key', value: '<%= key %>'}
    .form-group
      %label.col-sm-2.control-label{for: 'stage_choice_text'} Text :
      %fieldset.col-sm-10
        %input.form-control{type: 'text', id: 'stage_choice_text', name: 'choice_text', value: '<%= text %>'}