.row
  .col-sm-offset-2.col-sm-1.ns-predicate-remove-zone
    %button.ns-predicate-remove.close{:'aria-hidden' => 'true'} &times;
  .col-sm-4
    .form-group
      %label.col-sm-1.control-label{for: 'stage_predicate_key'} Si
      %fieldset.col-sm-10
        %input.form-control{type: 'text', id: 'stage_predicate_key', name: 'predicate_key', value: '<%= key %>'}
  .col-sm-4
    .form-group
      %label.col-sm-1.control-label{for: 'stage_predicate_value'} =
      %fieldset.col-sm-10
        %input.form-control{type: 'text', id: 'stage_predicate_value', name: 'predicate_value', value: '<%= value %>'}