%form.form-horizontal
  #extra.row

    .col-md-12
      %h3 Références de l'étape
      .col-md-6
        %fieldset
          .form-group
            %label.col-sm-4.control-label{for: 'stage_key'} Identifiant :
            %fieldset.col-sm-6
              %input.form-control{type: 'text', id: 'stage_key', name: 'key', value: '<%= key %>'} 
          .form-group
            %label.col-sm-4.control-label{for: 'stage_previous'} Étape précédente :
            %select.col-sm-6{id: 'stage_previous', name: 'prev'}
          .form-group
            %label.col-sm-4.control-label{for: 'stage_next'} Étape suivante :
            %select.col-sm-6{id: 'stage_next', name: 'next'}
      .col-md-6
        %a#view-tree.btn.btn-default 
          %i.glyphicon.glyphicon-tree-deciduous
          Voir l'arbre

  #title.row
    .col-md-12
      %fieldset
        .form-group
          %input.input.form-control.input-fullwidth{type: 'text', placeholder: 'Entrez un titre ici', id: 'stage_title', name: 'title', value: '<%= title %>'}

  #content.row

    #picture.col-md-6
      %img.img-responsive{:src => 'http://placehold.it/640x480'}

    #content.col-md-6
      #text
        %fieldset
          %textarea.form-control.input-fullwidth{placeholder: 'Saisissez le texte de votre étape ici', id: 'stage_text', name: 'text', rows: '12'} <%= text %>
      #form
        %fieldset
          %label.checkbox
            %input{:type => 'checkbox', :name => 'activate_form', :id => 'activate-form'} Formulaire
        #stage-form
              
  #faqs

    .row
      .col-md-6
        %h2
          = "Questions fréquentes"
          %button#faqs-add.btn.btn-default.pull-right
            Ajouter

  #modal-tree.modal.fade{:'aria-labelledby' => 'MyModalLabel', :'aria-hidden' => 'true', :role => 'dialog', :tabindex => '-1'}
    .modal-dialog
      .modal-content
        .modal-header
          %button{:type => 'button', :class => 'close', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} &times;
          %h3.modal-title{:id => 'MyModalLabel'} Arbre du tutoriel
        .modal-body
          #cy
        .modal-footer
          %a.btn.btn-default{:href => '#', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'} Close
