%form
  #title.row
    .span12
      %fieldset
        %input{type: 'text', placeholder: 'Entrez un titre ici'}

  #content.row

    #picture.span6
      %img{:src => 'http://placehold.it/640x480'}

    #content.span6
      #text
        %fieldset
          %textarea{placeholder: 'Saisissez le texte de votre étape ici'}
      
      %form.form-horizontal
        %fieldsets
          .control-group
            %label.control-label
            .controls
              %label.radio
                %input{:type => 'radio', :name => 'forms', :id => 'choice'} Choice
              
  #faqs