#cy {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  height: 449px;
  width: 560px;
  position: absolute;
  z-index: 1000;
  left: 0;
  top: 0;
}

#modal-tree .modal-body {
  height: 400px;
  padding : 0;
}

#modal-tree .modal-header {
  z-index: 1001;
  position: relative;
  background-color: white;
}
