.symbol {
  font-family: 'EntypoRegular';
  font-size: 2em;
}

@font-face {
    font-family: 'EntypoRegular';
    src: url('/font/entypo-webfont.eot');
    src: url('/font/entypo-webfont.eot?#iefix')         format('embedded-opentype'),
         url('/font/entypo-webfont.woff')               format('woff'),
         url('/font/entypo-webfont.ttf')                format('truetype'),
         url('/font/entypo-webfont.svg#EntypoRegular')  format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: darkgrey;
}

#app > .container {
  background-color: whitesmoke;
}

#templates {
  display: none;
}

fieldset {
  width: 100%;
}

.input-fullwidth {
  display: block;
  width: 100%;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px; /* corrects height for border-box sizing */
}

textarea {
  min-height: 200px;
}

#title input {
  font-size: 2em;
  line-height: 2em;
  height: 2em;
}

#stage_title {
}

#faqs-questions {
  min-height: 200px;
}

.current-faq {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
}