!!! strict
%html

  %head
    %title= "Hedwige"
    %link{:rel => 'icon' , :href => 'img/favicon.png'}
    != css :main

  %body
    
    #app
      .navbar.navbar-default.navbar-fixed-top
        .container
          %a#logo.navbar-brand{:href => '#'} Hedwige
          %button#new-stage.btn.btn-primary.navbar-btn.navbar-right Ajouter une étape
          %button#edit-stage.btn.btn-default.navbar-btn.navbar-right Modifier l'étape
          %button#save.btn.btn-primary.navbar-right.navbar-btn Enregistrer

      .container

    != js :main