!!! strict
%html

  %head
    %title= "Hedwige"
    %link{:rel => 'icon' , :href => 'img/favicon.png'}
    != css :main

  %body
    
    #app
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a#logo.brand{:href => '#'} Hedwige
            %button#new-stage.btn.btn-primary.pull-right Ajouter une étape
            %button#edit-stage.btn.pull-right Modifier l'étape
            %button#save.pull-right.btn.btn-primary.hide Enregistrer

      .container

    != js :main