!!! strict
%html

  %head
    %title= "Hedwige"
    != css :main

  %body
    
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{:href => '#'} Hedwige

    #app.container

    != js :main