!!! strict
%html

  %head
    %title= "Hedwige"
    != css :main

  %body
    
    #app
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a#logo.brand{:href => '#'} Hedwige
            %button#new-stage.pull-right.btn Ajouter une page
            %button#save.pull-right.btn.btn-primary.hide Enregistrer

      .container

    != js :main